In [1]:
!pip install lxml
!pip3 install pandas

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.3)
Requirement already satisfied: pandas in /home/jupyterlab/conda/lib/python3.9/site-packages (1.2.3)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /home/jupyterlab/conda/lib/python3.9/site-packages (from pandas) (1.20.2)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
import lxml
import numpy as np

In [3]:
toronto_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' # The Wikipedia page containing Toronto data

In [4]:
dfs = pd.read_html(toronto_url) # Scraping the tables from the page into series

In [5]:
df = dfs[0] # Selecting the correct series

In [6]:
df_stacked = pd.Series(df.values.ravel('F')) # Converting into rows for each postal code

In [7]:
df_stacked.shape # Checking the shape, if 180 it is correct

(180,)

In [8]:
df1 = df_stacked.to_frame() # Convert to dataframe

In [9]:
df1['PostalCode'] = df1[0].str[:3] # Extract postal code as column

                                                     0 PostalCode
0                                      M1ANot assigned        M1A
1                      M1BScarborough(Malvern / Rouge)        M1B
2    M1CScarborough(Rouge Hill / Port Union / Highl...        M1C
3    M1EScarborough(Guildwood / Morningside / West ...        M1E
4                               M1GScarborough(Woburn)        M1G
..                                                 ...        ...
175  M9VEtobicoke(South Steeles / Silverstone / Hum...        M9V
176  M9WEtobicokeNorthwest(Clairville / Humberwood ...        M9W
177                                    M9XNot assigned        M9X
178                                    M9YNot assigned        M9Y
179                                    M9ZNot assigned        M9Z

[180 rows x 2 columns]

In [10]:
df1['rest'] = df1[0].str[3:] #Extract rest of data as column

,0,PostalCode,rest
0,M1ANot assigned,M1A,Not assigned
1,M1BScarborough(Malvern / Rouge),M1B,Scarborough(Malvern / Rouge)
2,M1CScarborough(Rouge Hill / Port Union / Highl...,M1C,Scarborough(Rouge Hill / Port Union / Highland...
3,M1EScarborough(Guildwood / Morningside / West ...,M1E,Scarborough(Guildwood / Morningside / West Hill)
4,M1GScarborough(Woburn),M1G,Scarborough(Woburn)
...,...,...,...
175,M9VEtobicoke(South Steeles / Silverstone / Hum...,M9V,Etobicoke(South Steeles / Silverstone / Humber...
176,M9WEtobicokeNorthwest(Clairville / Humberwood ...,M9W,EtobicokeNorthwest(Clairville / Humberwood / W...
177,M9XNot assigned,M9X,Not assigned
178,M9YNot assigned,M9Y,Not assigned
179,M9ZNot assigned,M9Z,Not assigned

In [11]:
df1[['Borough','Neighborhood']] = df1.rest.str.split('\(|\)', expand=True).iloc[:,[0,1]] # Split into borough and neighborhood colums

In [12]:
df1.drop(0, axis=1, inplace=True)
df1.drop('rest', axis=1, inplace=True) # Dropping redundant columns

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,None
1,M1B,Scarborough,Malvern / Rouge
2,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
3,M1E,Scarborough,Guildwood / Morningside / West Hill
4,M1G,Scarborough,Woburn
...,...,...,...
175,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...
176,M9W,EtobicokeNorthwest,Clairville / Humberwood / Woodbine Downs / Wes...
177,M9X,Not assigned,None
178,M9Y,Not assigned,None
179,M9Z,Not assigned,None

In [13]:
df1['Neighborhood'] = df1['Neighborhood'].str.replace(' /',',') # Replacing / with commas for separating neighborhoods

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,None
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
...,...,...,...
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,EtobicokeNorthwest,"Clairville, Humberwood, Woodbine Downs, West H..."
177,M9X,Not assigned,None
178,M9Y,Not assigned,None
179,M9Z,Not assigned,None

In [14]:
df1 = df1[df1["Borough"].str.contains("Not assigned")==False] # Drop unassigned boroughs

In [15]:
df1['Neighborhood'] = np.where(df1['Neighborhood'] == 'None', df1['Borough'], df1['Neighborhood']) # Change 'None' neighbourhoods to borough name
df1

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,PostalCode,Borough,Neighborhood
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
5,M1H,Scarborough,Cedarbrae
...,...,...,...
170,M9N,York,Weston
171,M9P,Etobicoke,Westmount
172,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,EtobicokeNorthwest,"Clairville, Humberwood, Woodbine Downs, West H..."

In [17]:
df1.shape

(103, 3)